*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
         background-color: black;
         font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
         text-align: center;
         text-decoration: none;
         color: aliceblue;
         padding: 20px;
         
}
